
body,
.btn {
    color: #36454f;
    background-color: #E8AA9B;
}

.attendees {
    margin: 1.2rem 0;
}

.list {
    margin: 2rem 0;
}

.jumbotron {
    background-color: #9BE8CD;
}

.btn {
    margin-right: .2rem;
    margin-left: .2rem;
    background-color: #9BE8CD;
    border-color: #9BE8CD;
}

.btn:hover {
    background-color: #9C5949;
    border-color: #9C5949;
}

.btn-edit {
    margin: 0;
    padding: 0;
    background-color: #E8AA9B;
    border-color: #E8AA9B;
}

.btn-edit:hover {
    background-color: #E8AA9B;
    border-color: #E8AA9B;
    color: #9C5949;
}

.btn-update {
    margin: .75rem 0;
}

.add-note {
    margin: .75rem 0;
    float: right;
}