
body,
.btn {
    color: #36454f;
    background-color: #87C2CC;
}

.attendees {
    margin: 1.2rem 0;
}

.list {
    margin: 2rem 0;
}

.jumbotron {
    background-image: url(../img/jumbo.png);
    box-shadow: inset 0 0 0 1000px rgba(194, 255, 230,.4);
}

.btn {
    margin-right: .2rem;
    margin-left: .2rem;
    background-color: #C2FFE6;
    border-color: #C2FFE6;
}

.btn:hover {
    background-color: #9C5949;
    border-color: #9C5949;
}

.btn-edit {
    margin: 0;
    padding: 0;
    background-color: #87C2CC;
    border-color: #87C2CC;
}

.btn-edit:hover {
    background-color: #87C2CC;
    border-color: #87C2CC;
    color: #9C5949;
}

.btn-update {
    margin: .75rem 0;
}

.add-note,
.btn-meeting {
    margin: .75rem 0;
    float: right;
}

.meeting-link {
    color: #9C5949;
}

.meeting-link:hover {
    color: #36454f;
    text-decoration: none;
}

.notes-list {
    float: left;
    margin-top: 3rem;
}

.subtitle {
    margin-top: 1rem;
}

.complete {
    text-decoration: line-through;
}